@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Tema Oscuro (Predeterminado) */
body.dark {
  background-color: #151724;
  color: white;
}

body.dark h1, body.dark h2, body.dark h3,
body.dark p, body.dark span {
  color: white;
}

body.dark button {
  background-color: #333;
  color: white;
}

body.dark button:hover {
  background-color: #555;
}

/* Tema Claro */
body.light {
  background-color: #f5f5f5;
  color: black;
}

body.light h1, body.light h2, body.light h3,
body.light p, body.light span {
  color: black;
}

body.light button {
  background-color: #e0e0e0;
  color: black;
}

body.light button:hover {
  background-color: #d4d4d4;
}

/* Estilos Generales para Componentes */
.dashboard, .food-log, .profile, .goals, .log {
  min-height: 100vh;
  padding: 20px;
}

.summary-card {
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para .summary-card en Tema Oscuro */
body.dark .summary-card {
  background-color: #1E1E1E;
  color: white;
}

/* Estilos para .summary-card en Tema Claro */
body.light .summary-card {
  background-color: #e0e0e0;
  color: black;
}
