.footer-nav {
    background-color: #151724; /* Fondo oscuro similar al header */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para la barra inferior */
  }
  
  .nav-item {
    color: white; /* Texto blanco */
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-item img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
  }
  
  .nav-item.active {
    color: #56C1FF; /* Color azul para el ítem activo */
  }
  
  .nav-item span {
    display: block;
    margin-top: 5px;
  }

  
  